@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden; 
}

body {
    background-color: #cecbf5;
    overflow: hidden;
    height: 100%;
}

/* HEADER */

#headerLogo {
    display: none;
}

#header {
    background-color: #5168ff;
    width:100%;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;    
    display: flex;
    align-items: center;    
    justify-content: space-between;
} 


#responsiveLogo {
    width: 7vh;
    margin: 0 10px;

}

#headerUl { 
    display: flex;
    align-items: center; 
}

.headerA {     
    text-decoration: none;
    font-size: 17px;  
    font-weight: 500;    
    color:#001861;
    padding: 0 15px;
}

/* NAV */


#nav {
    overflow: hidden;    
    width: 100%;
    height: 25px;
    padding: 1px 0;
    background-color:#001861;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
    box-shadow: 0 0 5px 0 #000a4b73;
}

#navUl {
    display: flex;
    align-items: center; 
}


.navLi {
    display: flex;
    align-items: center; 
}

.navA {
    text-decoration: none;
    font-size: 14px;
    padding: 0 25px;
    color: #adb8ff;
    font-weight: 300;
}



#navSearch {
    box-sizing: content-box;
    width: 90px;
    height: 12px;
    font-family: serif;
    font-size: 12px;
    background-color: #8badf6;
    border: #131a37;
    border-style: solid;
    border-width: .1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 15px 0 0px;
    padding: 1px 3px;
}

#navSearch:focus {
    outline:none;  
}

/* MAIN */

.main {
    text-align: center;
    margin-top: 4px;
}


.main_h1{ 
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #020c2c;
}

.main_p {
    font-size: 15px;
    font-weight: 500;
    margin: 0 22px 10px 22px;
    color: #020c2c;
}


.main_form {
   display: block;
   padding: 0 30px;
}

.main_input, .main_textarea {
    display: block;
    width: 100%;
    height: 30px;
    border: 2px solid #0044889e;
    border-radius: 8px;
    font-size: 16px;
    padding: 2px;
    background-color: #dddede80;
    transition: background-color .5s ease;
    margin: 5px 0;
}

.main_textarea {
    width: 100%;
    height: 60px;
    resize: none;
}

.main_submit {
    width: 100%;
    height: 35px;
    border: 1px solid #0030c075;
    border-radius: 5px;
    background-color: #0049bfd4;
    font-size: 20px;
    letter-spacing: 1px;
    color: #000618;
    cursor: pointer;
}

.main_h2 {
    padding-top: 5px;
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #020c2c;
}

.main_li, .li_p {
    font-size: 16px;
    margin: 4px 0;
}


/* FOOTER */

.footer {
    background: linear-gradient(180deg, #c7c3ffd8, #4e65ff);
}

.footer_nuestrasredes__div{
    text-align: center;
    margin: 5px 0;
}

.footer_nuestrasredes_p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #020c2c;
}

.footer_nuestrasredes_ul {
    text-align: center; 
}

.footer_nuestrasredes__li {
    display: inline-block;
    padding: 10px 35px 30px 35px;
    font-size: 25px;
}

.footer_nuestrasredes__a {
    color:#0068d0
}

.lineaseparadora2 {
    width: 500px;
    height: 1px;
    margin-left: auto;  
    margin-right: auto; 
    background-color: #0030c074; 
    margin-top: -22px;
    margin-bottom: 12px;
    border: none;
}

.footer_div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.footer_informacion_p {
    text-align: center;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #020c2c;
    margin-top: -10px;
}

.iframe{ 
    margin-top: 8px;
    border: 1px solid #0030c0;
    width: 90%;
    height: 90px;
    margin: 5px 10px 0 10px;
}


.footer_informacion{
    list-style-type: none;
    text-align: center;
}


.footer_li1 {
    font-weight: 600;
    font-size: 15px;
    padding: 3px 0;
}

.footer_informacion2 {
    list-style-type: none;
    text-align: center;
    margin: 30px 0 0 0;

}

.footer_informacion_li2{
    font-size: 15px;
    padding: 10px 0;
}
